{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <span class="display-1 d-block">500</span>
            <div class="mb-4 lead">내부 서버 오류.</div>
            <div class="mb-4 lead">Internal Server Error.</div>
            <a href="/" class="btn btn-link">홈으로 돌아가기</a>
            <div class="mb-4 lead">-</div>
            <img src="/static/realGreenLogo.png" alt="logo" width="300" height="150">

        </div>
    </div>
</div>
{% endblock %}